.popUpOverlay .addElOverlay,
.popUpOverlay .addHTMLPopUp {
  position: absolute;
  max-width: 500px;
  width: 75%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light-background);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px var(--dark-background);
}

.popUpOverlay .addElOverlay button,
.popUpOverlay .addHTMLPopUp button {
  background-color: var(--main-background);
  border: 1px transparent solid;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  text-align: left;
  padding: 5px 12.5px;
  margin: 2.5px 0;
  cursor: pointer;
}

.popUpOverlay .addElOverlay button:hover,
.popUpOverlay .addHTMLPopUp button:hover,
.popUpOverlay .addElOverlay button:focus,
.popUpOverlay .addHTMLPopUp button:focus {
  background-color: var(--main-background);
  border-color: var(--dark-background);
  color: var(--color);
  outline: none;
}

.popUpOverlay .addHTMLPopUp textarea {
  background-color: var(--main-background);
  border: 1px var(--dark-background) solid;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  width: calc(100% - 25px - 2px);
  resize: vertical;
}

.popUpOverlay .addHTMLPopUp textarea:focus {
  outline: none;
}

.editPage .viewContent .frame ._edit_highLightOnHover {
  cursor: pointer;
  transition: 100ms linear;
}

.editPage .viewContent .frame ._edit_highLightOnHover:hover {
  background-color: transparent;
  box-shadow: 0 0 5px 2px red;
}

.editPage .viewContent .frame ._edit_showOutline {
  outline: 1px black dotted;
  position: relative;
}

.editPage .frame .frameSection .btnWrapper {
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editPage .frame .frameSection .upBtn,
.editPage .frame .frameSection .downBtn {
  fill: var(--dark-text);
  background-color: var(--light-background);
  width: 55px;
  padding: 7.5px 0;
  display: flex;
  justify-content: center;
  transition: 100ms linear;
  cursor: pointer;
  outline: none;
  border: none;
}

.editPage .frame .frameSection .upBtn svg,
.editPage .frame .frameSection .downBtn svg {
  height: 20px;
}

.editPage .frame .frameSection .upBtn {
  border-radius: 5px 0 0 5px;
}

.editPage .frame .frameSection .downBtn {
  border-radius: 0 5px 5px 0;
}

.editPage .frame .frameSection .upBtn:hover:not(:disabled),
.editPage .frame .frameSection .downBtn:hover:not(:disabled),
.editPage .frame .frameSection .upBtn:focus:not(:disabled),
.editPage .frame .frameSection .downBtn:focus:not(:disabled) {
  fill: var(--main-text);
  background-color: var(--dark-background);
  outline: none;
}

.editPage .frame .frameSection .upBtn:disabled,
.editPage .frame .frameSection .downBtn:disabled {
  background-color: var(--main-background);
  cursor: not-allowed;
}
