.pluginsPage > div {
  padding: 50px 50px 0 50px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.pluginsPage > div > .sectionTitle {
  color: var(--dark-text);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.pluginsPage > div > .msg {
  font-size: 16px;
  color: var(--dark-text);
  margin-left: 10px;
}

.pluginsPage .card {
  min-width: 250px;
  width: fit-content;
  border-radius: 10px;
  background-color: var(--light-background);
  padding: 10px;
  box-shadow: 1px 1px 10px 1px var(--dark-background);
}

.pluginsPage .card .title {
  font-size: 24px;
  font-weight: 600;
  padding: 2.5px;
  border-bottom: 1px solid var(--dark-background);
}

.pluginsPage .card .description {
  font-size: 16px;
  padding: 2.5px;
  margin: 12.5px 0;
}

.pluginsPage .card button {
  background-color: var(--main-background);
  border: 1px transparent solid;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  text-align: left;
  padding: 5px 12.5px;
  margin: 2.5px 0;
  cursor: pointer;
}

.pluginsPage .card button:not(:disabled):hover {
  border-color: var(--dark-background);
  color: var(--color);
}

.pluginsPage .card button:disabled {
  color: var(--dark-text);
  cursor: not-allowed;
}

.pluginsPage .break {
  flex-basis: 100%;
}
